body{
    margin: 0;
    padding: 0;
    background: #F5F7FB;
    /* background-color: red; */
    font-family: 'Karla', sans-serif;
}

/* .wrapper {
    display: flex;

    
} */
.section1 {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.section2 {
    margin: 30px 50px;
}
h1{
    font-weight:700;
    font-size: 32px;
    color: #293264;
}
h3{
    color: #293264;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}
button.welcome_button {
    background: #4D5B9E;
    border-radius: 16px;
    /* width: 150px; */
    font-family: 'Inter', sans-serif;
    padding: 10px 21px;
    /* outline: none; */
    /* appearance: none; */
    border: none;
    cursor: pointer;
    font-size: 16px;
    color:#F5F7FB;
}
.selected {
    background-color: #D6DBF5;
}
.wrongoption{
    background-color: #F8BCBC;
    opacity: .6;
}
.opacity {
    opacity: .6;
    /* background-color: yellow; */
}
.correct{
    background-color: #94D7A2;
    opacity: 1;
}
.welcome {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.box_for_options{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
span{
    margin: 20px;
}
button{
    /* background: yellow; */
    border: 1px solid #4D5B9E;
    outline: none;
    appearance: none;
    padding: 5px 15px;
    border-radius: 10px;
    color: #293264;
    background: none;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}
@media only screen and (max-width:950px){
    .section2 {
        margin: 10px 35px 20px 20px;
    }
}
@media only screen and (max-width:600px){
    .section2 {
        margin: 10px 20px 20px 10px;
    }
    h2 {
        font-size: 23px;
    }
    button{
        padding: 4px 13px;
    }
    
}
@media only screen and (max-width:500px){
    .section2 {
        margin: 10px 20px 20px 10px;
    }
    h2 {
        font-size: 21px;
    }
    /* button{
        padding: 4px 13px;
    } */
    
}
@media only screen and (max-width:410px){
    .section2 {
        margin: 10px 10px 10px 10px;
    }
    h2 {
        font-size: 19px;
    }
    .button.welcome_button{
        font-size: 14px;
    }
    span{
        font-size: 14px;
    }
    /* button{
        padding: 4px 13px;
    } */
    
}